body{ 
  font-family: "Karla", sans-serif;
  background-color: #1C1C1C;
}

.password-inputs{ 
  width: 250px; 
  height: 45px;
  border-radius: 6px;
  border: none;
  background-color: #273549;
  margin-left: 40px;
  color: #55F991;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

#app-container{ 
  width: 600px; 
  height: 500px;
  margin: auto;
  padding: 50px;
  background-color: #1F2937;
}

#heading-container{
  width: 500px;
  height: 80px;
}

#first-line-text{
  color: white;
  font-size: 40px;
}

#second-line-text{
  color: #4ADF86;
  font-size: 40px;
}

#subheading-container{
  margin-top: 0px; 
  color: #D5D4D8;
  font-size: 20px;
}

#generate-container{
  margin-top: 50px; 
  margin-bottom: 30px;
}

hr{
  background-color: #2F3E53;
  height: 1px; 
  border: none;
}

#generate-password-btn{ 
  background-color: #10B981;
  border: none;
  width: 191px; 
  height: 42px; 
  font-size: 16px;
  border-radius: 6px;
  color: #FFFFFF;
  font-weight: 100px;
  font-family: "Karla", sans-serif;
}

#generate-password-btn:hover{ 
  background-color: #10A070;
  border: none;
  width: 191px; 
  height: 42px; 
  font-size: 16px;
  border-radius: 6px;
  color: #FFFFFF;
  font-weight: 100px;
  font-family: "Karla", sans-serif;
}

#password-container{
  margin-top: 30px;
}